<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="InOutStart" value="Bộ phận: Mua hàng"/>
    <add key="InOutEnd" value="Bộ phận"/>
    <add key="ManagerList" value="1;2;3"/>
  </appSettings>
</configuration>